@import url('https://fonts.googleapis.com/css?family=Prata&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #393939;
}

@media screen and (min-width: 456px) {

    html,
    body {
        background: white;
    }

    h1 {
        margin: 20px;
        margin-left: 0;
        margin-top: 40px;
        font-size: 35px;
        text-align: center;
    }

    .content {
        width: 50%;
        margin: auto;
        transition: 0.3s;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .blur {
        filter: blur(15px);
    }

    .header {
        width: 100%;
    }

    .header-logo {
        width: 20%;
        margin: auto;
        margin-top: 20px;
    }

    .header-logo img {
        width: 100%;
    }

    .header-info h1 span {
        font-family: Prata;
        padding: 6px 8px;
        padding-bottom: 4px;
        border-radius: 8px;
        background: white;
        color: #393939;
        margin-left: 10px;
    }

    .header-info h2 {
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .socials {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .socials p {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

    .social-links {
        width: 50%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .music {
        width: 450px;
        margin: auto;
        margin-top: 20px;
    }

    .music img {
        width: 100%;
    }

    .post {
        width: 49%;
        height: auto;
        border-radius: 12px;
        margin-top: 20px;
        overflow: hidden;
        color: #393939;
        background: white;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
    }

    .post-header {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        background-color: gray;
    }

    .post-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post-overlay {
        position: absolute;
        border-radius: 12px 12px 0 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        z-index: 2;
    }

    .post-header-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        color: white;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .post-header-name p {
        width: 90%;
        text-align: center;
        color: white;
    }

    .post-content {
        padding: 0 20px 20px 20px;
    }

    .post-name {
        margin-bottom: 30px;
    }

    .post-date {
        font-weight: 400;
        font-size: 14px;
        margin-top: 5px;
        overflow: hidden;
    }

    .post-date p {
        color: #999999;
    }

    .post-name h3 {
        margin-top: 20px;
        font-weight: 600;
        font-size: 25px;
    }

    .post-min {
        margin-top: 20px;
    }

    .post-min p {
        font-weight: 300;
        font-size: 14px;
        color: #999999;
    }

    .post-open {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .post-open a {
        padding: 16px 16px;
        margin-top: 10px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
        cursor: pointer;
    }

    .post-func {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
    }

    .func-btn {
        padding: 16px 16px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
        cursor: pointer;
    }

    .func-btn p {
        display: inline;
        margin-left: 5px;
    }

    .share-block {
        position: fixed;
        box-sizing: border-box;
        width: 90%;
        left: 5%;
        bottom: 0px;
        transform: translateY(100%);
        border-radius: 12px;
        background: #292929;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
        padding: 20px;
        transition: 0.3s;
    }

    .share-block>p {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 30px;
        color: white;
    }

    .copy-post-link {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .share-block input {
        width: 70%;
        height: 40px;
        padding: 0px 16px;
        color: #999999;
        border: none;
        border-radius: 0;
        outline: none;
        border-bottom: 1px solid #999999;
        background: #292929;
    }

    .copyBtn {
        overflow: hidden;
        border-radius: 30px;
        margin-left: 20px;
        padding: 16px 16px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
        background: #595959;
        cursor: pointer;
        transition: 0.6s;
    }

    .copyBtn i {
        color: white;
    }

    .copyed {
        background: rgb(154, 240, 154);
    }

    .share-visible {
        bottom: 20px;
        transform: translateY(0%);
    }

    .back-btn {
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .back-btn i {
        margin-right: 10px;
    }

    .back-btn a {
        display: block;
        padding: 16px 16px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
    }

    .full-post {
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
        color: #393939;
        background: white;

    }

    .full-post-header {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        background-color: gray;
    }

    .full-post-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .full-post-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        z-index: 2;
    }

    .full-post-header-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .full-post-header-name p {
        width: 90%;
        text-align: center;
        color: white;
    }

    .full-post-name {
        margin-bottom: 30px;
    }

    .full-post-date {
        font-weight: 400;
        font-size: 14px;
        margin-top: 5px;
        overflow: hidden;
    }

    .full-post-date p {
        color: #999999;
    }

    .full-post-name h3 {
        margin-top: 20px;
        font-weight: 600;
        font-size: 25px;
    }

    .full-post-text {
        font-weight: 300;
        font-family: Roboto;
        font-weight: 300;
        font-size: 23px;
    }

    .text-header {
        font-weight: 600;
        margin: 10px auto;
        background: #f0f0f0;
        padding: 5px;
        border-radius: 6px;
    }

    .quote {
        box-sizing: border-box;
        width: 90%;
        padding: 10px;
        text-align: left;
        margin: 20px 0px;
        font-weight: 400;
        margin: 10px auto;
        border-left: 4px solid #393939;
    }

    .min-quote {
        width: 90%;
        margin: auto;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.13);
    }

    .full-post-text img {
        display: block;
        margin: 30px auto;
        width: 50%;
    }

    .img-full-width {
        width: 100%;
    }

    .line-list {
        margin: 20px 0;
        text-align: left;
        list-style: none;
    }

    .line-list li {
        position: relative;
        margin: 10px 0px;
        margin-left: 25px;
    }

    .line-list li::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 3px;
        left: -20px;
        top: 13px;
        background: #393939;
    }

    .numeric-list {
        margin: 20px 0;
        text-align: left;
        list-style: decimal;
    }

    .numeric-list li {
        margin: 10px 0px;
        margin-left: 30px;
    }

    .dotted-list {
        margin: 20px 0px;
        list-style: disc;
        text-align: left;
    }

    .dotted-list li {
        margin-top: 10px;
        margin-left: 25px;
    }

    .check-list {
        margin: 20px 0;
        text-align: left;
        list-style: none;
    }

    .check-list li {
        position: relative;
        margin: 10px 0px;
        margin-left: 25px;
    }

    .check-list li::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -25px;
        top: 6px;
        border-radius: 3px;
        border: 1px solid #393939;
    }

    .text-link {
        color: #2a47a5;
        font-weight: 700;
        font-size: 16px;
        border: 1px solid rgb(103, 128, 209);
        padding: 2px 8px;
        border-radius: 6px;
        white-space: nowrap;
    }

    .next-post {
        width: 100%;
        overflow: scroll;
        display: flex;
        align-items: flex-start;
    }

    .next-post-block {
        width: 200px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
        border-radius: 12px;
        margin: 10px 20px;
        min-width: 200px;
        padding: 20px;
    }

    .next-post-block p {
        color: #393939;
        font-weight: 700;
    }

    .next-post-btn {
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 50px;
        background: #eaeaea;
        text-align: center;
        border-radius: 6px;
        padding: 8px 16px;
    }

    .checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        transition: 0.3s;
    }

    .checkbox:checked+label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    /* стили при наведении курсора на checkbox */
    .checkbox:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
    }

    /* стили для активного состояния чекбокса (при нажатии на него) */
    .checkbox:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
    }

    /* стили для чекбокса, находящегося в фокусе */
    .checkbox:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    .checkbox:focus:not(:checked)+label::before {
        border-color: #80bdff;
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    .checkbox:disabled+label::before {
        background-color: #e9ecef;
    }

    /* для элемента input c type="radio" */
    .radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    /* для элемента label связанного с .custom-radio */
    .radio+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        margin: 20px auto;
    }

    /* создание в label псевдоэлемента  before со следующими стилями */
    .radio+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 50%;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    /* стили при наведении курсора на радио */
    .radio:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
    }

    /* стили для активной радиокнопки (при нажатии на неё) */
    .radio:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
    }

    /* стили для радиокнопки, находящейся в фокусе */
    .radio:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
    .radio:focus:not(:checked)+label::before {
        border-color: #80bdff;
    }

    /* стили для радиокнопки, находящейся в состоянии checked */
    .radio:checked+label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }

    /* стили для радиокнопки, находящейся в состоянии disabled */
    .radio:disabled+label::before {
        background-color: #e9ecef;
    }

    .table {
        border-spacing: 10px;
        text-align: left;
    }

    .table td {
        padding: 20px 0;
    }

    .film-btn {
        display: block;
        width: 150px;
        margin: auto;
        border-radius: 6px;
        background: #ED702D;
        color: white;
        padding: 8px 16px;
        font-weight: 700;
    }
}

@media screen and (max-width: 456px) {

    html,
    body {
        background: white;
    }

    h1 {
        margin: 20px;
        margin-top: 40px;
        font-size: 35px;
    }

    .content {
        width: 90%;
        margin: auto;
        transition: 0.3s;
        padding-bottom: 50px;
    }

    .blur {
        filter: blur(15px);
    }

    .header {
        width: 100%;
    }

    .header-logo {
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }

    .header-logo img {
        width: 100%;
    }

    .header-info h1 span {
        font-family: Prata;
        padding: 6px 8px;
        padding-bottom: 4px;
        border-radius: 8px;
        background: white;
        color: #393939;
        margin-left: 10px;
    }

    .header-info h2 {
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .socials {
        margin-top: 20px;
    }

    .socials p {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

    .social-links {
        width: 50%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .music {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .music img {
        width: 100%;
    }

    .post {
        width: 100%;
        margin-top: 20px;
        color: #393939;
        background: white;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
    }

    .post-header {
        position: relative;
        border-radius: 12px;
        width: 100%;
        height: 200px;
        overflow: hidden;
        background-color: gray;
    }

    .post-header img {
        width: 100%;
    }

    .post-overlay {
        position: absolute;
        border-radius: 12px 12px 0 0;
        overflow: hidden;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        z-index: 2;
    }

    .post-header-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        color: white;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .post-header-name p {
        width: 90%;
        text-align: center;
        color: white;
    }

    .post-content {
        padding: 0 20px 20px 20px;
    }

    .post-name {
        margin-bottom: 30px;
    }

    .post-date {
        font-weight: 400;
        font-size: 14px;
        margin-top: 5px;
        overflow: hidden;
    }

    .post-date p {
        color: #999999;
    }

    .post-name h3 {
        margin-top: 20px;
        font-weight: 600;
        font-size: 25px;
    }

    .post-min {
        margin-top: 20px;
    }

    .post-min p {
        font-weight: 300;
        font-size: 14px;
        color: #999999;
    }

    .post-open {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .post-open a {
        padding: 16px 16px;
        margin-top: 10px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
        cursor: pointer;
    }

    .post-func {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
    }

    .func-btn {
        padding: 16px 16px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
        cursor: pointer;
    }

    .func-btn p {
        display: inline;
        margin-left: 5px;
    }

    .share-block {
        position: fixed;
        box-sizing: border-box;
        width: 90%;
        left: 5%;
        bottom: 0px;
        transform: translateY(100%);
        border-radius: 12px;
        background: #292929;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
        padding: 20px;
        transition: 0.3s;
    }

    .share-block>p {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 30px;
        color: white;
    }

    .copy-post-link {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .share-block input {
        width: 70%;
        height: 40px;
        padding: 0px 16px;
        color: #999999;
        border: none;
        border-radius: 0;
        outline: none;
        border-bottom: 1px solid #999999;
        background: #292929;
    }

    .copyBtn {
        overflow: hidden;
        border-radius: 30px;
        margin-left: 20px;
        padding: 16px 16px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
        background: #595959;
        cursor: pointer;
        transition: 0.6s;
    }

    .copyBtn i {
        color: white;
    }

    .copyed {
        background: rgb(154, 240, 154);
    }

    .share-visible {
        bottom: 20px;
        transform: translateY(0%);
    }

    .back-btn {
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .back-btn i {
        margin-right: 10px;
    }

    .back-btn a {
        display: block;
        padding: 16px 16px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
    }

    .full-post {
        width: 100%;
        margin-top: 20px;
        color: #393939;
        background: white;

    }

    .full-post-header {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        background-color: gray;
    }

    .full-post-header img {
        width: 100%;
    }

    .full-post-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        z-index: 2;
    }

    .full-post-header-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .full-post-header-name p {
        width: 90%;
        text-align: center;
        color: white;
    }

    .full-post-name {
        margin-bottom: 30px;
    }

    .full-post-date {
        font-weight: 400;
        font-size: 14px;
        margin-top: 5px;
        overflow: hidden;
    }

    .full-post-date p {
        color: #999999;
    }

    .full-post-name h3 {
        margin-top: 20px;
        font-weight: 600;
        font-size: 25px;
    }

    .full-post-text {
        font-weight: 300;
        font-family: Roboto;
        font-weight: 300;
        font-size: 23px;
    }

    .text-header {
        font-weight: 600;
        margin: 10px auto;
        background: #f0f0f0;
        padding: 5px;
        border-radius: 6px;
    }

    .quote {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        text-align: left;
        margin: 20px 0px;
        font-weight: 400;
        margin: 10px auto;
        border-left: 4px solid #393939;
    }

    .min-quote {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.13);
    }

    .full-post-text img {
        display: block;
        margin: 10px auto;
        width: 60%;
    }

    .img-full-width {
        width: 100% !important;
    }

    .full-post-text img:before {
        position: absolute;
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        background: white;
        transform: rotate(45deg);
        top: -25px;
        right: -25px;
    }

    .line-list {
        margin: 20px 0;
        text-align: left;
        list-style: none;
    }

    .line-list li {
        position: relative;
        margin: 10px 0px;
        margin-left: 20px;
    }

    .line-list li::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 3px;
        left: -20px;
        top: 13px;
        background: #393939;
    }

    .dotted-list {
        margin: 20px 0px;
        list-style: disc;
        text-align: left;
    }

    .dotted-list li {
        margin-top: 10px;
        margin-left: 20px;
    }

    .check-list {
        margin: 20px 0;
        text-align: left;
        list-style: none;
    }

    .check-list li {
        position: relative;
        margin: 10px 0px;
        margin-left: 25px;
    }

    .check-list li::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -25px;
        top: 6px;
        border-radius: 3px;
        border: 1px solid #393939;
    }

    .numeric-list {
        margin: 20px 0;
        text-align: left;
        list-style: decimal;
    }

    .numeric-list li {
        margin: 10px 0px;
        margin-left: 30px;
    }

    .text-link {
        color: #2a47a5;
        font-weight: 700;
        font-size: 16px;
        border: 1px solid rgb(103, 128, 209);
        padding: 2px 8px;
        border-radius: 6px;
        white-space: nowrap;
    }

    .next-post {
        width: 100%;
        overflow: scroll;
        display: flex;
        align-items: flex-start;
    }

    .next-post-block {
        width: 200px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
        border-radius: 12px;
        margin: 10px 20px;
        min-width: 200px;
        padding: 20px;
    }

    .next-post-block p {
        color: #393939;
        font-weight: 700;
    }

    .next-post-btn {
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 50px;
        background: #eaeaea;
        text-align: center;
        border-radius: 6px;
        padding: 8px 16px;
    }

    .checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        transition: 0.3s;
    }

    .checkbox:checked+label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    /* стили при наведении курсора на checkbox */
    .checkbox:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
    }

    /* стили для активного состояния чекбокса (при нажатии на него) */
    .checkbox:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
    }

    /* стили для чекбокса, находящегося в фокусе */
    .checkbox:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    .checkbox:focus:not(:checked)+label::before {
        border-color: #80bdff;
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    .checkbox:disabled+label::before {
        background-color: #e9ecef;
    }

    /* для элемента input c type="radio" */
    .radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    /* для элемента label связанного с .custom-radio */
    .radio+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        margin: 20px auto;
    }

    /* создание в label псевдоэлемента  before со следующими стилями */
    .radio+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 50%;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    /* стили при наведении курсора на радио */
    .radio:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
    }

    /* стили для активной радиокнопки (при нажатии на неё) */
    .radio:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
    }

    /* стили для радиокнопки, находящейся в фокусе */
    .radio:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
    .radio:focus:not(:checked)+label::before {
        border-color: #80bdff;
    }

    /* стили для радиокнопки, находящейся в состоянии checked */
    .radio:checked+label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }

    /* стили для радиокнопки, находящейся в состоянии disabled */
    .radio:disabled+label::before {
        background-color: #e9ecef;
    }

    .table {
        border-spacing: 10px;
        font-size: 12px;
    }

    .table th {
        text-align: left;
    }

    .film-btn {
        display: block;
        text-align: center;
        margin: auto;
        border-radius: 6px;
        background: #ED702D;
        color: white;
        padding: 11px 32px;
        font-weight: 500;
        font-size: 16px;
    }
}